<h1>Book Here</h1>


<section class="card">
<div id="flat-booking-dates">
  <%= simple_form_for [@cut, @booking] do |f| %>
    <%= f.input :description, label: 'Détails', placeholder: "Quelle longueur souhaitez vous enlever, si teinture la couleur ou autre rensignements..." %>
    <%= f.input :start_time, as: :date, label: 'Début' %>
    <%= f.input :end_time, as: :date, label: 'Fin' %>
    <%= f.button :submit, 'Reserver', class: 'btn btn-flat' %>
  <% end %>
</div>
</section>
