<div class="banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path ('form.jpg')%>);">
    <%#= image_tag('barber.jpg'), class: 'banner' %>
    <div class="container">
      <h1>You want to book for a <strong> Hair cut ! </strong></h1>
      <p>Can you complet the form below !</p>
    </div>
</div>

<section class="card-form">
<div id="flat-booking-dates">
  <%= simple_form_for [@cut, @booking], data: {
    controller: "flatpickr"
  } do |f| %>
    <div class="container-form">
    <%= f.input :description, label: 'Détails', id: 'description', :input_html => {:maxlength => 200},
    placeholder: "Quelle longueur souhaitez vous enlever, si teinture la couleur ou autre rensignements..." %>
    <span id="char_count"></span>
    <%= f.input :start_time, as: :string, label: 'Début' %>
    <%= f.button :submit, 'Reserver', class: 'btn btn-flat' %>
    </div>
  <% end %>
</div>
</section>


<script type="text/javascript">
  let textArea = document.getElementById("booking_description");
  let characterCounter = document.getElementById("char_count");
  const maxNumOfChars = 200;
  const countCharacters = () => {
    let numOfEnteredChars = textArea.value.length;
    let counter = maxNumOfChars - numOfEnteredChars;
    if (counter < 20) {
        characterCounter.style.color = "red";
    } else if (counter < 40) {
        characterCounter.style.color = "orange";
    } else {
        characterCounter.style.color = "white";
    }

     if (counter<=1) {
      characterCounter.textContent = counter + " caractère restant.";
    } else {
      characterCounter.textContent = counter + " caractères restants.";
    }
  };
  textArea.addEventListener("input", countCharacters);
</script>
