
<div class="banner2", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path ('barber_banner.jpg')%>); opacity: 0.93;">
    <%#= image_tag('barber.jpg'), class: 'banner' %>
    <div class="container text-uppercase font-weight-bold">
      <div class="accroche">
        <h1 class="animate__animated animate__bounce"><strong>Style impeccable</strong><h1>
        <h1>Pour <span data-controller="typed-js"></span></h1>
        <%# <h1>Pour hommes </h1> %>
        <h1>Exigeants.</h1>
        <%= link_to "Reserve", bookings_path , class: "btn btn-flat" %>
      </div>
      <div class="heures">
        <p id='open' class='animate__animated animate__bounceInRight animate__delay-1s'>OPEN HOURS</p>
          <p><strong>Week :</strong></p>
          <p class='time-little'> 6 PM - 10 PM </p>
          <p><strong>Week-end :</strong></p>
          <p class='time-little'>10 AM - 10 PM</p>
      </div>
    </div>
    <div class="micro-footer d-flex">
      <div class="slogan">
        <p id="text-center"><strong>Entrez comme un client, sortez comme un Gentleman.</strong></p>
      </div>
      <div class="logo-right animate__animated animate__fadeInUp animate__delay-2s">
        <a href='https://instagram.com/japs.barber?igshid=YmMyMTA2M2Y=' target='_blank'><i class="fab fa-instagram"></i></a>
        <a href='https://www.tiktok.com/@jcbulanadi?_t=8bU52kHeGmL&_r=1' target='_blank'><i class="fab fa-tiktok"> </i></a>
        <a href='https://www.facebook.com' target='_blank'><i class="fab fa-facebook"></i></a>
      </div>
    </div>
</div>
<section>
<div class="apropos">
  <div class="container reveal">
    <div class="row">
      <h1 class='text-center animate__animated animate__fadeInUp'>Jasp Barber Shop</h1>
      <p class='text-center animate__animated animate__fadeInUp'> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didnt take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
    </div>
  </div>
</div>
</section>
<section>
<div class="service">
  <div class="container reveal">
    <div class="row">
      <h1 class='text-center'>Services</h1>
        <p class='text-center'>Style à la fois pour les cheveux comme pour la barbe sans oublier la couleur.</p>
        <div class="coupes_cheveux grid_column">
          <div class="coupe">
           <%= image_tag("scissor.png", height:"50", width:"50", class:'color-logo center-content') %>
            <h5>Coupes - Révélez votre style</h5>
            <p class='opacity-text'>Nous offrons une large gamme de coupes de cheveux pour tous les styles et tous les goûts.
            Nous utilisons des techniques de pointe pour garantir une coupe précise et personnalisée.</p>
          </div>
          <div class="coupe">
          <%= image_tag("cut_beard.png", height:"50", width:"50", class:'color-logo center-content') %>
            <h5>La Barbe - Notre spécialité</h5>
            <p class='opacity-text'>Messieurs, prenez soin de votre barbe avec notre expertise en matière de soins pour la barbe.
            Nous offrons des services de coupe et de soins pour la barbe, pour vous aider à maintenir une
            apparence soignée et élangante.</p>
          </div>
          <div class="coupe">
           <%= image_tag("hairdresser.png", height:"50", width:"50", class:'color-logo center-content') %>
            <div class= 'logo' style="url(<%= asset_path ('hairdresser.png')%>);"></div>
            <h5>Des couleurs - Changez de vie</h5>
              <p class='opacity-text'>Nous utilisons des techniques de coloration de haute qualité
              pour obtenir des résultats durables et éclatants.
              Nous utilisons des produits de haute qualité pour garantir des
              des couleurs durables et éclatantes tout en préservant la santé de vos cheveux.</p>
        </div>
    </div>
  </div>
</div>
</section>
<section>
<div class="realisations">
  <div class="container reveal">
    <div class="row">
      <h1 class='text-center'>Réalisations</h1>
      <p class='text-center'>Une galerie photo comprenant quelques chef-d'oeuvre.</p>
      <div class="coupe-homme d-flex">
        <div class="card-gallery mt-3">
          <%= image_tag 'https://i.ibb.co/C9804hK/hairboy.jpg', height: "320", width: "210", cropp: :fill %>
        </div>
        <div class="card-gallery-infos">
          <h5 class='text-center pb-3'>Vincenzo Falcone</h5>
          <p class='pb-5'>La teinture blonde ajoute de la fraicheur et du style à la coupe, la
           rendant plus audacieuse et originale.
           Cette coupe de cheveux est tendance, elle offre une option de style
           pour les garçons qui veulent se démarquer avec une coupe de cheveux unique.
          </p>
          <div class="text-end">
            <a href="#" id='button-details'>
              <span>Détails</span>
            </a>
          </div>
        </div>
      </div>
      <div class="coupe-homme d-flex">
        <div class="card-gallery mt-3">
          <div class="card-gallery-infos">
            <h5 class='text-center pb-3'>Tony Blackpepper</h5>
            <p class='pb-5'>Style frais pour l'année, dégradé américain avec nuque rasé, qui
            se fondent progressivement en cheveux plus longs sur le dessus de la tête.
            La longueur des cheveux sur le dessus peut être coiffée de différentes manières,
            selon les préférences.
            </p>
            <a href="#" id='button-details'>
              <span>Détails</span>
            </a>
          </div>
          <%= image_tag 'https://i.ibb.co/QPcbcwD/right-tony-blackpepper.jpg', height: "320", width: "210", cropp: :fill %>
        </div>
      </div>
      <div class="coupe-homme d-flex">
        <div class="card-gallery mt-3">
          <%= image_tag 'https://i.ibb.co/5KC43qB/john-doe.jpg', height: "320", width: "210", cropp: :fill %>
        </div>
        <div class="card-gallery-infos">
          <h5 class='text-center pb-3'>John Doe</h5>
          <p class='pb-5'>Style frais pour l'année, dégradé américain avec nuque rasé, qui
           se fondent progressivement en cheveux plus longs sur le dessus de la tête.
           La longueur des cheveux sur le dessus peut être coiffée de différentes manières,
           selon les préférences.
          </p>
          <div class="text-end">
            <a href="#" id='button-details'>
              <span>Détails</span>
            </a>
          </div>
        </div>
      </div>
      <div class="coupe-homme d-flex">
        <div class="card-gallery mt-3">
          <div class="card-gallery-infos">
            <h5 class='text-center pb-3'>Danny Monterro</h5>
            <p class='pb-5'>Style frais pour l'année, dégradé américain avec nuque rasé, qui
            se fondent progressivement en cheveux plus longs sur le dessus de la tête.
            La longueur des cheveux sur le dessus peut être coiffée de différentes manières,
            selon les préférences.
            </p>
            <a href="#" id='button-details'>
              <span>Détails</span>
            </a>
          </div>
          <%= image_tag 'https://i.ibb.co/TBDqJSR/right-danny-coco.jpg', height: "320", width: "210", cropp: :fill %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section>
<div class="pricing">
  <div class="container reveal">
    <div class="row text-center">
      <h1 class='text-center mb-2'>Plan & Pricing</h1>
      <p class='price-infos text-center mb-4'>Quelques idées de prix pratiqué selon les coupes.</p>
      <div class="col-md-6 ">
        <h5>Coupe Homme Classico <span class= 'price-separator'>-----------</span> <span class='price-entry'>20€</span></h5>
          <p class='italic-style'>A classic one in the shop than everyone wants</p>
        <h5>Coupe Enfant Elegant <span class= 'price-separator'>--------------</span> <span class='price-entry'>15€</span></h5>
          <p class='italic-style'>A classic one in the shop than everyone wants</p>
        <h5>La Barbe Del Papa <span class= 'price-separator'>------------------</span> <span class='price-entry'>10€</span></h5>
          <p class='italic-style'>A classic one in the shop than everyone wants</p>
      </div>
          <div class="col-md-6">
            <h5>Coupe Femme Classico <span class= 'price-separator'>----------------------</span> <span class='price-entry'>30€</span></h5>
              <p class='italic-style'>A classic one in the shop than woman like to wear days</p>
            <h5>Couleur Femme Original's <span class= 'price-separator'>-------------------</span><span class='price-entry'> 60€</span></h5>
              <p class='italic-style'>A classic one in the shop than woman like to wear day</p>
            <h5>Couleur Homme Original's <span class= 'price-separator'>------------------</span><span class='price-entry'> 25€</span></h5>
              <p class='italic-style'>Classic one in the shop than man like to wear day/night</p>
      </div>
    </div>
  </div>
</div>
</section>



 <%# le js initial était ici transféré sous forme de composant dans le fichier app js%>


<%# <script type="text/javascript">
window.addEventListener('scroll', reveal);

function reveal(){
  var reveals = document.querySelectorAll('.reveal');

  for(var i = 0; i < reveals.length; i++) {

  var windowheight = window.innerHeight;
  var revealtop = reveals[i].getBoundingClientRect().top;
  var revealpoint = 150;

    if(revealtop < windowheight - revealpoint){
      reveals[i].classList.add('active');
    }
    else
      reveals[i].classList.remove('active');
  }
}
</script> %>
