<div class="banner2", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path ('barber_banner.jpg')%>); opacity: 0.93;">
    <%#= image_tag('barber.jpg'), class: 'banner' %>
    <div class="container text-uppercase font-weight-bold">
      <div class="accroche">
        <h1><strong>Style impeccable</strong><h1>
        <h1>Pour hommes </h1>
        <h1>Exigeant.</h1>
        <%= link_to "Reserve", "#", class: "btn btn-flat" %>
      </div>
      <div class="heures">
        <p id='open'>OPEN HOURS</p>
        <p><strong>Week :</strong></p>
        <p class='time-little'> 6 PM - 10 PM </p>
        <p><strong>Week-end :</strong></p>
        <p class='time-little'>10 AM - 10 PM</p>
      </div>
    </div>
    <div class="micro-footer d-flex">
      <div class="slogan">
        <p id="text-center"><strong>Entrez comme un client, sortez comme un Gentleman.</strong></p>
      </div>
      <div class="logo-right">
        <a href='https://instagram.com/japs.barber?igshid=YmMyMTA2M2Y=' target='_blank'><i class="fab fa-instagram"></i></a>
        <a href='https://www.tiktok.com/@jcbulanadi?_t=8bU52kHeGmL&_r=1' target='_blank'><i class="fab fa-tiktok"> </i></a>
        <a href='https://www.facebook.com' target='_blank'><i class="fab fa-facebook"></i></a>
      </div>
    </div>
</div>
<div class="apropos">
  <div class="container">
    <div class="row">
      <h1 class='text-center'> Bienvenue chez Jasp Barber Shop</h1>
      <p class='text-center'> On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didnt take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
    </div>
  </div>
</div>
<div class="service">
  <div class="container">
    <div class="row">
      <h1 class='text-center'>Services</h1>
        <p class='text-center'>Style à la fois pour les cheveux comme pour la barbe sans oublier la couleur.</p>
        <div class="coupes_cheveux grid_column">
          <div class="coupe">
           <%= image_tag("scissor.png", height:"50", width:"50", class:'color-logo center-content') %>
            <h5>Coupes - Révélez votre style</h5>
            <p class='opacity-text'>Nous offrons une large gamme de coupes de cheveux pour tous les styles et tous les goûts.
            Nous utilisons des techniques de pointe pour garantir une coupe précise et personnalisée.</p>
          </div>
          <div class="coupe">
          <%= image_tag("cut_beard.png", height:"50", width:"50", class:'color-logo center-content') %>
            <h5>La Barbe - Notre spécialité</h5>
            <p class='opacity-text'>Messieurs, prenez soin de votre barbe avec notre expertise en matière de soins pour la barbe.
            Nous offrons des services de coupe et de soins pour la barbe, pour vous aider à maintenir une
            apparence soignée et élangante.</p>
          </div>
          <div class="coupe">
           <%= image_tag("hairdresser.png", height:"50", width:"50", class:'color-logo center-content') %>
            <div class= 'logo' style="url(<%= asset_path ('hairdresser.png')%>);"></div>
            <h5>Des couleurs - Changez de vie</h5>
              <p class='opacity-text'>Nous utilisons des techniques de coloration de haute qualité
              pour obtenir des résultats durables et éclatants.
              Nous utilisons des produits de haute qualité pour garantir des
              des couleurs durables et éclatantes tout en préservant la santé de vos cheveux.</p>
        </div>
    </div>
  </div>
</div>
<div class="realisations">
  <div class="container">
    <div class="row">
      <h1 class='text-center'>Réalisations</h1>
      <p class='text-center'>Une gallerie photo comprenant quelques chef-d'oeuvre.</p>
      <div class="coupe-homme d-flex">
        <div class="coupe-couleur">
          <%= image_tag("hairdresser.png", size:"16x15") %>
        </div>
        <div class="coupe-couleur-text">
          <h5 class='text-center'></h5>
          <p>Style frais pour l'été comme l'automne. </p>
        </div>
      </div>


    </div>
  </div>
</div>
